body{
    font-family: sans-serif;
    margin:auto;
    width: 200px;
    margin-top: 20%;
    height: 280px;
    border-style: solid;
    border-color: rgba(23, 207, 221,0.4);
    background-color: rgba(194, 207, 221,0.4);
}
body table tr td button{
    border-style: none;
    background-color: rgba(194, 207, 221,0.4);
    margin: 0;
    padding: 9px;
    outline: none;
    text-align:center;
    width:40px;
}
body table{
    margin-left: 5%;
}
body #form{
    margin-left: 6%;
    margin-top: 5%;
    background-color: rgba(194, 207, 221,0.4);
    border-style: none;
    height: 28px;
    text-align: right;
    width:170px; 
}
#form[type="number"]::-webkit-outer-spin-button,
#form[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.selected{
    background-color: rgba(23, 207, 221,0.4);
}
.selected-numbers{
    background-color: rgba(23, 100, 221,0.4);
}